/***** GLOBAL STYLES *****/

.App {
  text-align: center;
}

/* HEADER */
.header {
  background-color: yellow;
}

/* FOLLOWERS COLUMN */
.followers-column {
  background-color: red;
  width: 500px;
  height: 800px;
}